@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="card-title">Welcome</h2>
                    <h2 class="card-title">Scan the QR to enter the test environment.</h2>

                    <img src="~/images/scan.jpg" alt="Welcome Image" class="img-fluid my-3" />
                    <p class="card-text">WhatsApp OTP Authentication Demo</p>
                    <div class="mt-4">
                        <a href="@Url.Action("Login", "Home")" class="btn btn-primary btn-lg">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>